@model IEnumerable<ApplicationUser>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Timestamps</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Department</th>
                        <th>Time In</th>
                        <th>Location</th>
                        <th>Time Out</th>
                        <th>Location</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Department</th>
                        <th>Time In</th>
                        <th>Location</th>
                        <th>Time Out</th>
                        <th>Location</th>
                    </tr>
                </tfoot>
                <tbody>
                    @if (Model.Count() > 0)
                    {
                        @foreach (ApplicationUser user in Model)
                        {
                            @if (user.Timestamps.Count() == 0) continue;
                            @foreach (var timestamp in user.Timestamps)
                            {
                                <tr>
                                    <td>@user.Name</td>
                                    <td>@user.Department</td>
                                    <td>@timestamp.In</td>

                                    @if (timestamp.InWhileOnPremises)
                                    {
                                        <td>On Premises</td>
                                    }
                                    else
                                    {
                                        <td>Outside Premises</td>
                                    }

                                    <td>@timestamp.Out</td>

                                    @if (timestamp.OutWhileOnPremises)
                                    {
                                        <td>On Premises</td>
                                    }
                                    else
                                    {
                                        <td>Outside Premises</td>
                                    }
                                </tr>
                            }
                        }
                    }
                    else
                    {
                        <tr><td colspan="6">No timestamps at the moment.</td></tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>