<div class="bg-primary m-1 p-1 text-white"><h4 class="text-center">Employee Clocking System</h4></div>

<div class="container text-center">

    <img class="mb-4 text-center" src="/images/profile-pic.png" alt="" width="72" height="72" />

    <h4 class="h3 mb-3 font-weight-normal">Dashboard</h4>

    <a class="btn btn-lg btn-outline-primary" asp-action="Create" asp-controller="Admin">Add New Employee</a>
    <a class="btn btn-lg btn-outline-primary" asp-action="ListEmployees" asp-controller="Admin">List All Employees</a>
    <a class="btn btn-lg btn-outline-primary" asp-action="ListAdministrators" asp-controller="Admin">List Admins</a>
    <a class="btn btn-lg btn-outline-danger" asp-action="Logout" asp-controller="Account">Logout</a>
</div>